#about {
    padding: 80px 0 200px 0;
    max-width: 1600px;
    min-width: 1100px;
    .about_title {
        @include title (30px, $green);
    } 
    .contents_wrap {
        position: relative;
        .contents_first {
            width: 100%;
            display: flex;
            margin-top: 50px;
            .cf_img1 {
                width: 55%;
                overflow: hidden;
                & img {
                    width: 100%;
                    transform: translateY(-135px);
                }
            }
            .cf_text1 {
                @include font(1.3vw, $green);
                width: 45%;
                line-height: 5vh;
                display: flex;
                justify-content: flex-end;  
                padding-top: 5%;
                & span {
                    @include font(2vw, $green);
                    font-weight: bold;
                }
            }
        } 
        .contents_second {
            display: flex;
            position: absolute;
            bottom: -60%;
            .cf_img2 {
                width: 55%;
                
                & img {
                  height: 75%;
                  width: 100%;
                }
            }
            .cf_text2 {
                 @include font(1.3vw,$green);
                width: 45%;
                line-height: 5vh;
                display: flex;
                justify-content: flex-start;
                padding-top: 6%;
               }
        }      
    }
}
